body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: aliceblue;
}

form{
    width: 100%;
}

legend{
    margin-top: 5px;
    background-color: rgb(37, 69, 69);
    color: aliceblue;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}